version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: veclon
      POSTGRES_USER: veclon
      POSTGRES_PASSWORD: veclon
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: veclon
      MINIO_ROOT_PASSWORD: veclonminio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data

volumes:
  pgdata:
  miniodata:
